.addressForm
{
    width: 100%;
    height: 45px;
    font-size: 20px
}
.labelForm
{
    font-family: Open Sans;
    font-size: 19px;
    color: #707070
}
.header
{
    color: #086288;
     font-weight: 600;
     font-size: 35px 
}