
.navBar
{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.mainAdmin
{
    width: 65px;
    height: 85vh;
     /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px */
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.7),
            -5px 0 5px -5px rgba(0, 0, 0, 0.7);
}
.adminBread
{
    position: absolute;
     top: 85px;
      left: 65px;
       font-size: 12px
}
.adminRoutes
{
    margin-top: 40px;
    width: 90%;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px ;
     margin-left: 20px;
      overflow: hidden
}


.BatchIcon
{
    background-color: white;
    border: none;
    font-size:10px;
    text-align:end
}

.BatchIcon1
{
    background-color: #086288;
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding-left: px; */
    padding-right: 8px;
    border-radius: 10px;
    border: none;
    margin-left: 5px;
    font-size:10px;
    color:white;
    text-align:end
}

.MentorIcon
{
    background-color: white;
    border: none;
    text-align:end;
    font-size: 10px;
}

.MentorIcon1
{

    background-color: #086288;
    padding-top: 5px;
    padding-bottom: 2px !important;
    padding-left: 5px !important;
    padding-right: 5px;
    border-radius: 10px;
    border: none;
    margin-left: 2px;
    font-size:10px;
    color:white;
    text-align:center
}

.RequestIcon
{
    background-color: white;
    border: none;
    text-align:end;
    font-size: 10px;
}
.RequestIcon1
{
    background-color: #086288;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: none;
    margin-left: 2px;
    font-size:10px;
    color:white;
    text-align:end
}



.Approve
{
    border: 1px solid #00811A;
    padding:2px 10px;
  border-radius: 5px;
    color:#00811A;
    font-weight:500
}
.Approve:hover
{
    color: white;
    background-color: #00811A;
}

.Reject
{
    border: 1px solid #CE000E;
    padding:2px 10px;
  border-radius: 5px;
    color:#CE000E;
    font-weight:500
}
.Reject:hover
{
    color: white;
    background-color: #CE000E;
}

@media  (max-width:836px) {
    .adminRoutes{
        width: 70%;
       overflow: scroll;
    }
}

.avatar
{
    margin-right: 50px;
}

@media (max-width: 836px) {
    .batchTable
    {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .batch2Table
    {
        width: 100vh;
    }
}
.editDelete
{
    border: none;
    background-color: white;
}