
*
{
    margin: 0;
    padding: 0;
}
/*===========LoginPage*/
.Main_div
{
    background-image: url('./../Assests/backimg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    width: 100%;
}
.childDiv
{
    margin-left:200px;
    margin-top:80px
}

.childImage
{
    height:505px;
    border-radius:5px 0px 0px 5px;
}

.childContent
{
    overflow:hidden;
    background-color:#000000A2;
    border-radius:0px 5px 5px 0px;
    text-align: center;
}

.contentText
{
    color:#FFAA17;
    font-size:30px;
    font-family:Abril Fatface;
    /* margin-left: 125px; */
}

.contentForm
{
    text-align:left;
    font-size:12px;
    color:#FFFFFF
}

.formEmail
{
    width:90%;
    padding:2px;
    font-size:14px
}

.formPass
{
    width:90%;
    padding:2px;
    font-size:14px
}

.btnLogin
{
    padding:5px 20px;
    font-size:10px;
    border:none;
    background-color:#FFAA17;
    border-radius:3px;
    color:#FFFFFF;
    /* margin-left: 50px; */
}

.btnCancel
{
    padding:5px 20px;
    font-size:10px;
    border:none;
    background-color:#000000A2;
    border-radius:3px;
    color:#FFFFFF
}
.paraText
{
    font-size: 12px;
    color: #FFFFFF;
    margin-top:5px
}
.anchorTag
{
    font-size: 12px;
     text-decoration: none;
      color: #FFFFFF;
      font-weight:600
}
.changePass
{
    font-size: 12px;
     color: #FFFFFF;
     text-decoration:none
}

.hr
{
    margin-top:-10px;
    color:#FFFFFF;
    width:250px;
    margin-left:20px
}

.copyRights
{
    font-size: 9px;
     color: #FFFFFF;
     margin-top:-10px 
}
.error
{
    color: red;
    text-align: center;
    font-size: 10px;
}

@media (max-width:988px) {
    .hr
    {
        width:400px;
    }
}
