.navDrop
{
    margin-right: 58px;
}

.sideBar
{
    width:50px;
    height:100%;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background-color:white
}
.breadCrumbs
{
    margin-top:5px;
    height:86vh;
    background-color:#f8f8f8;
    position:relative;
    right:20px;
    /* width:90% */
}
.renderComponents{
    height:90%;
    background-color:white;
    /* margin-top:-10px */
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 100%;
    overflow: hidden;
}

.MainDiv
{
    height:86vh;
    background-color:#f8f8f8
}

.empAdmin
{
    width: 70px;
    height: 85vh;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px
}
.dashboard
{
    border: none;
    font-size: 9px;
    text-align: center;
    margin-left: 5px;
    background-color: white;
}
.dashboard1
{
    border: none;
    font-size: 9px;
    background-color: #086288;
    padding: 5px 2px;
    border-radius: 9px;
    color: white;
    margin-left: 3px;
}

.empMentor
{
    border: none;
    font-size: 9px;
    text-align: center;
    margin-left: 5px;
    background-color: white;
}

.empMentor1
{
    border: none;
    font-size: 9px;
    background-color: #086288;
    padding: 5px 5px;
    border-radius: 9px;
    color: white;
    margin-left: 8px;
}

.attbtn
{
    border:none;
    background-color: white;
    color: #95bbcc;
    font-weight: 600;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 10px;
    transition: all 0.5s;
}
.attbtn:hover
{
    background-color: #086288;
    color: #f8f8f8;
}

.btntool
{
    border: none;
    background-color: white;
}

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: #30D158;
    border-color: #30D158;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.form-switch .form-check-input1:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input1:checked {
    background-color: #ca0202;
    border-color: #ca0202;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.emptext td
{
    padding: 8px;
}

